name: tests # runs unit and integration tests

on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  linux-tests:
    strategy:
      matrix:
        node: [10, 12, 14, 16, 18, 20]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
        if: ${{ steps.cache-nodemodules.outputs.cache-hit != 'true' }}
      - run: yarn run renderTemplates
      - run: yarn build:lib
      - run: yarn test
